In [6]:
import pandas as pd #for data analysis and manipulation
import numpy as np  #to handle arrays
import re #for advanced string manipulation

In [10]:
#loading data
df=pd.read_excel("ICC Test Bat 3001.xlsx")

In [27]:
#creating a copy 
df_copy=df.copy()

In [11]:
#having a look at dataset
df.head()

,Player,Span,Mat,Inn,NO,Runs,HS,Avg,100,50,0,Player Profile
0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14,http://stats.espncricinfo.com/ci/content/playe...
1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17,http://stats.espncricinfo.com/ci/content/playe...
2,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16,http://stats.espncricinfo.com/ci/content/playe...
3,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8,http://stats.espncricinfo.com/ci/content/playe...
4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9,http://stats.espncricinfo.com/ci/content/playe...

In [5]:
#checking the dtypes,rows,cols,nullvalues etc.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3001 entries, 0 to 3000
Data columns (total 12 columns):
Player            3001 non-null object
Span              3001 non-null object
Mat               3001 non-null int64
Inn               3001 non-null object
NO                3001 non-null object
Runs              3001 non-null object
HS                3001 non-null object
Avg               3001 non-null object
100               3001 non-null object
50                3001 non-null object
0                 3001 non-null object
Player Profile    3001 non-null object
dtypes: int64(1), object(11)
memory usage: 281.5+ KB

In [12]:
#we have to remove the parenthesis and the data inside it as it can cause error while searching for player name

df["Player"]=df["Player"].str.replace(r"\(.*\)","")

In [13]:
#now it looks good
df.head()

,Player,Span,Mat,Inn,NO,Runs,HS,Avg,100,50,0,Player Profile
0,SR Tendulkar,1989-2013,200,329,33,15921,248*,53.78,51,68,14,http://stats.espncricinfo.com/ci/content/playe...
1,RT Ponting,1995-2012,168,287,29,13378,257,51.85,41,62,17,http://stats.espncricinfo.com/ci/content/playe...
2,JH Kallis,1995-2013,166,280,40,13289,224,55.37,45,58,16,http://stats.espncricinfo.com/ci/content/playe...
3,R Dravid,1996-2012,164,286,32,13288,270,52.31,36,63,8,http://stats.espncricinfo.com/ci/content/playe...
4,AN Cook,2006-2018,161,291,16,12472,294,45.35,33,57,9,http://stats.espncricinfo.com/ci/content/playe...

In [14]:
#now we have to solve the issue of dtypes as we can see that even the columns with integers are have dtype "object"

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3001 entries, 0 to 3000
Data columns (total 12 columns):
Player            3001 non-null object
Span              3001 non-null object
Mat               3001 non-null int64
Inn               3001 non-null object
NO                3001 non-null object
Runs              3001 non-null object
HS                3001 non-null object
Avg               3001 non-null object
100               3001 non-null object
50                3001 non-null object
0                 3001 non-null object
Player Profile    3001 non-null object
dtypes: int64(1), object(11)
memory usage: 281.5+ KB

In [17]:
#checking the unique values 
df.Inn.unique()

array([329, 287, 280, 286, 291, 233, 232, 252, 265, 260, 214, 213, 215,
       205, 189, 200, 225, 191, 198, 184, 180, 182, 235, 204, 181, 193,
       160, 209, 212, 188, 185, 156, 186, 175, 202, 190, 164, 176, 140,
       141, 130, 173, 151, 153, 178, 80, 138, 131, 179, 137, 159, 147,
       154, 155, 146, 143, 171, 124, 206, 145, 132, 102, 125, 136, 148,
       123, 161, 127, 144, 111, 112, 120, 139, 84, 115, 106, 174, 122, 81,
       109, 149, 113, 129, 99, 104, 116, 105, 91, 97, 87, 100, 93, 121,
       126, 74, 110, 150, 89, 94, 88, 86, 79, 83, 98, 114, 108, 92, 96,
       78, 199, 134, 162, 69, 90, 73, 62, 76, 77, 128, 71, 82, 65, 70,
       119, 68, 85, 66, 54, 57, 63, 64, 133, 72, 58, 41, 52, 40, 56, 53,
       55, 48, 46, 49, 61, 60, 107, 50, 42, 59, 47, 39, 45, 44, 38, 35,
       43, 31, 36, 37, 33, 67, 32, 34, 29, 51, 21, 26, 211, 27, 19, 24,
       30, 28, 20, 22, 25, 18, 23, 13, 95, 17, 15, 16, 101, 14, 12, 7, 11,
       10, 9, 3, 8, 5, 6, 4, 2, 1, '-'], dtype=object)

After checking the unique values of all colimns having wrong dtypes i got to know that there was "-" in all cols which was the reason for wrong dtypes

In [19]:
#replacing the "-" from whole dataset in order to get correct dtypes
df=df.replace("-",0)

In [20]:
#now we have the correct dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3001 entries, 0 to 3000
Data columns (total 12 columns):
Player            3001 non-null object
Span              3001 non-null object
Mat               3001 non-null int64
Inn               3001 non-null int64
NO                3001 non-null int64
Runs              3001 non-null int64
HS                3001 non-null object
Avg               3001 non-null float64
100               3001 non-null int64
50                3001 non-null int64
0                 3001 non-null int64
Player Profile    3001 non-null object
dtypes: float64(1), int64(7), object(4)
memory usage: 281.5+ KB

**Now there are 2 Major tasks that we have to perform :**

1. We have to create a function which, when entered a even an incomplete name or a character or even a alphabet,it should      return the info of all players containing that word/character/name 

2. We have to create another function which will scrape the image of the player from the ESPN profile page of the player just by entering the index no. which we'll obtain from first function

NOTE: I'm creating these two as seperate functions just for the sake of your better understanding , you can join them just by placing one function inside the other and create a master function

In [238]:
def ICC_Players(name):#we'll name it ICCPlayers
    df["Player"]=df["Player"].apply(lambda x:x.lower())  #bringing the player name column to lowercase
    df["Player"]=df["Player"].str.replace(" ","")        #removing whitespaces
    name=name.lower()                                   #bringing the entered name to lowercase
    name=name.replace(" ","")                            #removing whitespaces from entered name
    ind=df[df["Player"].str.contains(name)].index        #getting the index of row for player info
    print(df_copy.iloc[ind])                            #printing the player info using the copy of dataframe named df_copy

In [239]:
ICC_Players("koh")#working perfectly fine as we entered just koh and it retuned virat kohli!!

      Player       Span  Mat  Inn  NO  Runs    HS    Avg  100  50   0  \
45  V Kohli   2011-2019   84  141  10  7202  254*  54.97   27  22  10

                                       Player Profile
45  http://stats.espncricinfo.com/ci/content/playe...

In [242]:
ICC_Players("ten")#trying once again and it works.

              Player       Span  Mat  Inn  NO   Runs    HS    Avg  100  50  \
0      SR Tendulkar   1989-2013  200  329  33  15921  248*  53.78   51  68
41        G Kirsten   1993-2004  101  176  15   7289   275  45.27   21  34
777      PN Kirsten   1992-1994   12   22   2    626   104  31.30    1   4
1073  Lord Tennyson   1913-1921    9   12   1    345   74*  31.36    0   4
1965      JT Botten   1965-1965    3    6   0     65    33  10.83    0   0
2668   DT Mutendera   2000-2000    1    2   0     10    10   5.00    0   0

       0                                     Player Profile
0     14  http://stats.espncricinfo.com/ci/content/playe...
41    13  http://stats.espncricinfo.com/ci/content/playe...
777    2  http://stats.espncricinfo.com/ci/content/playe...
1073   1  http://stats.espncricinfo.com/ci/content/playe...
1965   2  http://stats.espncricinfo.com/ci/content/playe...
2668   1  http://stats.espncricinfo.com/ci/content/playe...

---------------------Now creating 2nd Function------------------------

In [51]:
from bs4 import BeautifulSoup #import beautifulsoup for webscraping
import requests   #importing requests for placing

In [248]:
def Player_Image(ind):      #we're naming it Player_Image and we'll take index as input
    base_url=df["Player Profile"].iloc[ind]  #specifying the base url for webscraping  
    response=requests.get(base_url)      #requesting for scraping the website/webpage
    html=response.content                #extracting the html 
    soup=BeautifulSoup(html,"lxml")       #applying beautiful soup and parsing using lxml parser
    links_list=[]                       #created an empty list
    for link[0] in soup.find_all("img"):   #applying for loop to obtain the first img tag
        src=link[0].get("src")             #getting src link from first img tag
        links_list.append(src)             #appending results in links_list
        Img=links_list[0]                  #storing the first link in the link_list to Img variable
    print(Img)                             # printing img as an output

In [252]:
Player_Image(45) #we got 45 as the index no of virat kohli when we used ICC_Players function

https://www.espncricinfo.com/inline/content/image/1183835.html?alt=1

**Note:-Either you can just click on this link to see the image or else if you want to see the image in this jupyter notebook the you can follow these steps**

In [253]:
from IPython.display import Image #import image
from IPython.core.display import HTML  #import  html

In [254]:
Image(url="https://www.espncricinfo.com/inline/content/image/1183835.html?alt=1") #copy & paste the url

***So both of our functions are working perfectly fine so perform them and keep learning!!***